{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>Robert Hallmark | C, C++ Developer | HALLMA2K@Outlook.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="resume.css" media="all" />
    <link rel="stylesheet" href="{% static 'css/resume.css' %}">

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Robert Hallmark</h1>
					<h2>C/C++, Python Developer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a id="pdf" href="#">Download PDF</a></h3>
						<h3><a href="mailto:HALLMA2K@outlook.com">HALLMA2K@outlook.com</a></h3>
						<h3>(858) - 831-8940</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT 
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>ADD TITLE</h2>
									<p>ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT  </p> 
								</div>

								<div class="talent">
									<h2>ADD TITLE</h2>
									<p>ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT  </p>
								</div>

								<div class="talent">
									<h2>Project Direction</h2>
									<p>ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT ADD TEXT</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>C</li>
								<li>C++</li>
								<li class="last">Python</li>
							</ul>

							<ul class="talent">
								<li>Django</li>
								<li>Unreal Engine</li>
								<li class="last">OpenGl</li>
							</ul>

							<ul class="talent">
								<li>Git</li>
								<li>Add text</li>
								<li class="last">Add text</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Company Name</h2>
								<h3>Position</h3>
								<h4>2005-2007</h4>
								<p>ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT</p>
							</div>

							<div class="job">
								<h2>Company Name</h2>
								<h3>Position</h3>
								<h4>2005-2007</h4>
								<p>ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT</p>
							</div>

							<div class="job">
								<h2>Company Name</h2>
								<h3>Position</h3>
								<h4>2005-2007</h4>
								<p>ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT</p>
							</div>


							<div class="job last">
								<h2>Company Name</h2>
								<h3>Position</h3>
								<h4>2005-2007</h4>
								<p>ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT ADD DESCRIPTION TEXT</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>University of California San Diego Extension - San Diego, California</h2>
							<h3>C, C++ certification program &mdash; <strong>2022</strong> </h3>
                            <h2>School of Audio Engineering - San Fransisco, California</h2>
							<h3>ADD TEXT &mdash; <strong>ADD TEXT</strong> </h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Robert Hallmark &mdash; <a href="mailto:HALLMA2K@outlook.com">HALLMA2K@Outlook.com</a> &mdash; (858) - 831-8940</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>
