<!DOCTYPE html>
<html>
    <head>
        <title>Robert Hallmark</title>
    </head>
    <body>
        <header>
            <h1><a href="/"> Robert Hallmark's Blog</a></h1>
        </header>

        <article>
            <time>published: 03.12.2021, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>This is my first attempt to build a website using Python,Django,Sqlite3(database) and learning to use Git as well. So far it's not to bad compared to C/C++.</p>
        </article>

        <article>
            <time>published: 03.12.2021, 12:25</time>
            <h2><a href="">My second post</a></h2>
            <p>I will start to build this site for a resume and add links to my coding projects on Git in the future.</p>
        </article>
    </body>
</html>